{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    // "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
    // "airbnb"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": [
      "off"
    ],
    "@typescript-eslint/ban-ts-comment": [
      "off"
    ],
    "react/react-in-jsx-scope": [
      "off"
    ],
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off", // This rule is not compatible with Next.js's <Link /> components    
    "@typescript-eslint/no-unused-vars": [
      "typescript-eslint/no-unused-vars"
    ],
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}