@import '../theme.scss';

.box {
  border-top: 0.5em solid $info;
  box-shadow: 0 10px 20px 0 hsla(0, 0%, 0%, 0.2);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  ul {
    &.card-list {
      list-style: none;
      margin-left: 0px;
      box-shadow: none;
    }
  }
}
.box-hot-pink-hover:hover {
  border-top: 0.5em solid $hot-pink;
}
