@import '../theme.scss';

.navbar {
  padding: 1.2rem 0;

  & > .container {
    padding: 0 10px;
  }

  a:hover {
    border-bottom: 5px solid #ff1493;
    color: #ff1493;
  }
}

.navbar-item img {
  max-height: 3rem !important;
  height: 52px !important;
  width: 52px !important;
}

a.navbar-burger {
  height: auto;
}
