@import '../theme.scss';

.navbar {
  padding: 1.2rem 0;

  & > .container {
    padding: 0 10px;
  }

  a:hover {
    border-bottom: 5px solid $hot-pink;
    color: $hot-pink;
  }

  a.navbar-itemnavbar-item-no-hover:hover {
    border-bottom: none;
  }
}

.navbar-item img {
  max-height: 3rem !important;
  height: 52px !important;
  width: 52px !important;
}

a.navbar-burger {
  height: auto;
}
