@import '../theme.scss';

.navbar {
  padding: 1.2rem 0;

  & > .container {
    padding: 0 10px;
  }

  // hover on nav links
  a:hover {
    border-bottom: 5px solid $hot-pink;
    color: $hot-pink;
  }

  // disables hover on nav logo
  a.navbar-item.navbar-item-no-hover:hover {
    border-bottom: none;
  }

  // disables hover on mobile menu
  a.navbar-burger.navbar-item-no-hover:hover {
    border-bottom: none;
    background-color: $white;
  }
}

.navbar-item img {
  max-height: 3rem !important;
  height: 52px !important;
  width: 52px !important;
}

a.navbar-burger {
  height: auto;
}
