.project-grid {
  padding: 2rem 0 4rem;
}

figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
  color: #fff;
  z-index: 1;
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.projects .project-grid .overlay {
  background-color: red;
}
