.box {
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;

  .content {
    .columns {
      &.has-text-center {
        margin: 0;
      }
      .column {
        &.skills-section {
          padding: 50px 30px;
          border-bottom: 1px solid #e6ecf8;
          border-right: 0px solid #e6ecf8;

          @media screen and (min-width: 768px) {
            padding: 60px 40px;
            border-bottom: 0px solid #e6ecf8;
            border-right: 1px solid #e6ecf8;

            &.last {
              border-right: none;
            }
          }
        }

        .list {
          list-style: none;
          margin-left: 0px;
          box-shadow: none;
        }
      }
    }
  }
}

.is-flex-custom {
  display: block !important;
}

@media screen and (min-width: 768px) {
  .is-flex-custom {
    display: flex !important;
  }
}
